<h1>Academic performance of students</h1>
<hr width="500"/>
<div class="form-row align-items-center mx-auto mb-3 mt-4">
    <div class="col justify-content-center">
        <label class="mr-md-2 mb-0" >Choose the class to see student marks:</label>
    </div>
    <div class="col">
        <% current_teacher_lessons = Lesson.order(classnum: :asc, classlet: :asc).where(teacher_id: current_student.id)%>
        <% current_teacher_classes = [].to_set %>
        <% current_teacher_lessons.each do |el|%>
            <% current_class = el.classnum.to_s+el.classlet.to_s %>
            <% current_teacher_classes.add(current_class) %>
        <% end %>
        <%= select :choosing_class, :chosen_class, current_teacher_classes, {:include_blank => true}, {class: "form-control"}%>
    </div>
    <div class="col">
        <input type="button" id="show_marks" value="Show" class="btn btn-outline-primary btn-block">
    </div>
</div>
<div class = "all_grades">
</div>
<script>
    document.querySelector("#show_marks").onclick = function(){
        console.log(document.querySelector("#choosing_class_chosen_class").value)
        if (document.querySelector("#choosing_class_chosen_class").value != ""){
            const param_str = "chosen_class=" + document.querySelector("#choosing_class_chosen_class").value
            let JSON_marks = {}
            let http_request = new XMLHttpRequest()
            http_request.open("GET", "<%= grade_get_marks_for_class_url %>" + "?" + param_str  + "&format=json")
            http_request.onreadystatechange = function () {
                if (http_request.readyState == 4 && http_request.status == 200) {
                    JSON_marks = JSON.parse(http_request.responseText);
                    show_marks_table(JSON_marks.result);
                }
        }
        http_request.send();  
        }  
    }
    function show_marks_table(data){
        table_place = document.querySelector(".all_grades")
        table_place.innerHTML = ""
        table_place.insertAdjacentHTML('beforeend',`<h3 class="mb-3">${data[0]}</h3>
            <table class="table table-bordered table-hover ac_performance"><thead class="thead-light"><tr><th>Student</th><th>Marks</th><th>Average</th></tr>`)
        table_place = document.querySelector(".ac_performance")
        for (i = 1; i < data.length; i++){
            let average = 0.0
            let color = ""
            if (data[i].marks != ""){
                average = data[i].marks.reduce((a, b) => (a + b)) / data[i].marks.length
                if (average > 4.0)
                    color = "text-success"
                else if (average < 3.0)
                    color = "text-danger"
                else
                    color = "text-info"
            }
            else{
                average = ""
            }
            table_place.insertAdjacentHTML('beforeend',`<tr><td>${data[i].name}</td><td>${data[i].marks}</td><td class = "${color}">${average}</td></tr>`)
        }
    }
</script>
